body {
    background-image: url("../imgs/background/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

header {
    z-index: 1;
}

nav {
    background-image: url("../imgs/background/fondoOscuro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 5em;
}

#logo {
    width: 6em;
}

h1 {
    font-size: 3em;
}

#tiempo {
    position: relative;
    margin-left: 2em;
    font-size: 2em;
    top: 12%;
}

#movimientos {
    position: relative;
    margin-left: 2em;
    font-size: 2em;
    top: 12%;
}

/* Estilos container principalmente centrado*/
#mesa {
    position: absolute;
    width: 30%;
    height: 60%;
    left: 10%;
    top: 30%;
    -webkit-transform: translate(-10%, -30%);
    transform: translate(-10%, -30%);
}

h2#marcadores{ 
    display: inline-block;
	text-align: center; 
}

div.tapete{
	margin: 1em;
}

div.tapetes_superiores {
    height: 100%;
}

.numero_receptor {
    position: absolute;
    left: 90%;
    top: 100%;
    -webkit-transform: translate(-90%, -100%);
    transform: translate(-90%, -100%);
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 80%;
    top: 50%;
    -webkit-transform: translate(-80%, -30%);
    transform: translate(-80%, -30%);
	width: 100%;	
    height: 100%;
    border-style: solid;
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial){			
	width: 8%;
    height: 22%;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes{
    position: absolute;	
    width: 8%;
    height: 22%;
    left: 50%;
    top: 62%;
	border-style: solid;
}

.receptor {
    position: absolute;
    top: 24%;
    width: 5%;
    height: 10%;
    left: 50%;
}

#receptor2 {
    left: 60%;
}

#receptor3 {
    left: 70%;
}

#receptor4 {
    left: 80%;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor{
	border-style: solid;
}

/* Estilos boton */
#resetBoton {
    position: absolute;
    left: 87%;
    top: 87%;
    -webkit-transform: translate(-50%, -98%);
    transform: translate(-50%, -98%);
}

.contador {
    position: relative;
    left: 43%;
    top: 90%;
}

.contadorT {
    position: relative;
    left: 35%;
    top: 75%;
}

/* css carta provisional by Raúl
.card {
    float: left;
    width: 20%;
    height: 26%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}
.card:nth-child(2) {
    margin-left: -98px;
    margin-top: -2px;
}
.card:nth-child(3) {
    margin-left: -98px;
    margin-top: -4px;
}
.card:nth-child(4) {
    margin-left: -98px;
    margin-top: -6px;
}*/

.tapetes_superiores .tapete .carta {
	width: 17.5%;
	position: absolute;
}

.div_tapetes .tapete .carta {
    	top: 13%;
    	left: 16%;
	width: 68%;
	position: absolute;
}
