body {
    background-image: url("../imgs/background/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: white;
    font-family: "Brush Script MT", cursive;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

header {
    z-index: 1;
}

nav {
    position: relative;
    background-image: url("../imgs/background/fondoOscuro.jpg");
    rotate: 180deg;
    background-repeat: no-repeat;
    background-size: cover;
    height: 8em;
}

nav #logoS {
    position: relative;
    rotate: 180deg;
    width: 8em;
    height: 8em;
    margin-left: 90em;
    top: -70%;
}

#tituloHeader {
    position: relative;
    font-size: 4em;
    rotate: 180deg;
    margin-left: 17em;
    top: 10%;
}

#tiempo {
    z-index: 2;
    position: relative;
    margin-top: 10em;
    font-size: 3em;

}
/*
#movimiento {
    position: relative;
    rotate: 180deg;
    top: 25%;
    margin-left: 15em;
    font-size: 3em;
}
*/
/* Estilos container principalmente centrado*/
#mesa {
    position: absolute;
    width: 40%;
    height: 40%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Centrado del título y color */
h1#titulo {
    position: relative;
    left: 50%;
	text-align: center;
	color: #E65014;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

h2#marcadores{ 
    display: inline-block;
	text-align: center; 
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete{
	margin: 1em;
}

div.tapetes_superiores {
    height: 100%;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial{
	width: 75%;	
    height: 84%;
    border-style: solid;
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial){			
	width: 15%;
    height: 22%;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes{
    position: absolute;	
    width: 15%;
    height: 22%;
    left: 80%;
    top: 62%;
	border-style: solid;
}

.receptor {
    position: absolute;
    top: 88%;
    left: 0;
}

#receptor2 {
    left: 20%;
}

#receptor3 {
    left: 40%;
}

#receptor4 {
    left: 60%;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor{
	border-style: solid;
}

/* Estilos boton */
#resetBoton {
    position: absolute;
    left: 50%;
    top: 98%;
    -webkit-transform: translate(-50%, -98%);
    transform: translate(-50%, -98%);
}

/* css arta provisional by Raúl*/
#carta {
    width: 90px;;
}
