body {
    background-image: url("../imgs/background/fondoMixto.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

nav {
    background-image: url("../imgs/background/fondoMixto.png");
    rotate: 180deg;
    background-repeat: no-repeat;
    background-size: cover;
    height: 6em;
}

nav #tituloHeader {
    rotate: 180deg;
}

/* Estilos container principalmente centrado*/
#mesa {
    position: absolute;
    width: 40%;
    height: 65%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Centrado del título y color */
h1#titulo {
    position: relative;
    left: 50%;
	text-align: center;
	color: #E65014;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

h2#marcadores{ 
    display: inline-block;
	text-align: center; 
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete{
	margin: 1em;
}

div.tapetes_superiores {
    height: 100%;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial{
	width: 75%;	
    height: 84%;
	background-color: lightgrey;
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial){			
	width: 15%;
    height: 22%;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes{
    position: absolute;	
    width: 15%;
    height: 22%;
    left: 80%;
    top: 62%;
	background-color: lightblue;
}

.receptor {
    position: absolute;
    top: 88%;
    left: 0;
}

#receptor2 {
    left: 20%;
}

#receptor3 {
    left: 40%;
}

#receptor4 {
    left: 60%;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor{
	background-color: lightgreen;
}

/* Estilos boton */
#reset {
    position: absolute;
    left: 50%;
    top: 98%;
    -webkit-transform: translate(-50%, -98%);
    transform: translate(-50%, -98%);
}
